* {
  margin: 0px;
  padding: 0px;
}
.homepage {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(62, 168, 244, 1) 200%
  );
  /* scrollbar-width: none; */
  /* overflow-y: hidden; */
}
/* ::-webkit-scrollbar {
  display: hidden;
} */
.banner_image {
  padding-top: 10vh;
  max-height: 80vh;
  width: 100%;

  object-fit: cover;
  object-position: top;
}
.Top_picks {
  font-size: 3rem;
  padding-left: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 2rem;
}
.banner {
  position: relative;
  text-align: center;
  /* z-index: -1; */
}
.banner_text_logo {
  position: relative;
  /* z-index: -1; */
}
.product_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
/* ::-webkit-scrollbar-horizontal {
  height: 12px;
  background: #0a0a0a;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
} */
/* ::-webkit-scrollbar-track {
  background-color: pink;
}
::-webkit-scrollbar-button {
  color: black;
  background-color: black;
} */
